.container {
  font-size: 36px;
  font-weight: 600;
}

.button {
  border: none;
  font-size: 25px;
}

.button_active {
  border: none;
  font-size: 25px;
  background-color: #ff7b00;
}

.button,
.button_active {
  width: 130px;
  height: 50px;
}
