.container {
  display: flex;
  flex-direction: column;
  width: 493px;
  height: 657px;
}

.container_info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.image {
  width: 493px;
  height: 336px;
  flex-shrink: 0;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 14px;
}

.date {
  font-size: 30px;
  font-weight: 600;
  line-height: 55px;
}

.description {
  font-size: 30px;
  font-weight: 400;
  line-height: 55px;
  margin-top: 10px;
}
.detail_button {
  margin-top: 30px;
  color: #33adff;
  border: none;
  cursor: pointer;
  font-size: 40px;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0;
}
