.container {
  height: 100%;
  width: 100%;
  margin-top: 200px;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/backgrounds/BackgroundProfile.svg');
  background-position: right;
  background-size: contain;
  gap: 50px;
}

.header {
  font-weight: 700;
  font-size: 50px;
}

.dates_header {
  font-weight: 600;
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn_container {
  width: 1046px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.windows_container {
}
.windows_header {
  font-weight: 600;
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.windows_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.create_window_btn {
}
