.btn {
  font-size: 25px;
  background: #33adff;
  border: none;
  color: #f0f0f0;
  width: 170px;
  height: 60px;
  border-radius: 20px;
  transition:
    background 0.1s ease,
    border 0.3s ease;
}

.btn:active {
  background: #ffffff;
  border: 2px solid #33adff;
  color: #33adff;
}

.btn:hover {
  cursor: pointer;
}
