.container {
  font-size: 29px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 300px;
}
.pencil {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.sharp {
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.title {
  padding-right: 30px;
}
