.container {
  display: flex;
}
.search_input {
  border: 1px solid #000;
  border-radius: 1000px;
  padding: 16px 30px;
  width: 578px;
  height: 87px;
  font-weight: 400;
  font-size: 32px;
  line-height: 172%;
  color: rgba(0, 0, 0, 0.4);
}
