.container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 185px;
}
.input_container {
  position: relative;
}

.select_list {
  font-weight: 400;
  font-size: 28px;
  line-height: 196%;
  color: #000;
  display: flex;
  flex-direction: row;
  gap: 33px;
}

.search_input {
  border: 1px solid #000;
  border-radius: 1000px;
  padding: 16px 30px;
  width: 578px;
  height: 87px;
  font-weight: 400;
  font-size: 32px;
  line-height: 172%;
  color: rgba(0, 0, 0, 0.4);
  flex: 1;
}

.search_button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  position: absolute;
  right: 25px;
  top: 30px;
}

.icon {
  width: 29px;
  height: 29px;
}

.search_button:hover {
  opacity: 0.7;
}
